* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1d224d;
}

.parallax {
  perspective: 100px;
  height: 100vh;

  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  /*margin-left: -1500px;*/
    z-index: -11;
    
      overflow-x: hidden;
    overflow-y: initial;
  position: fixed;
    
    

}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;

}

.parallax__cover {
  background: #000000;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
}

.parallax__layer__0 {
    
  transform: translateZ(-200px) scale(3);
}

.parallax__layer__1 {
    
  transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__2 {
  transform: translateZ(-100px) scale(2);
}

.parallax__layer__3 {
  transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__4 {
  transform: translateZ(0px) scale(1);
}

.videoparent {
	width: 100%;
	margin: 50px auto 120px;
    max-width: 900px;
	padding-left: 30px;
	padding-right: 30px;
}


.videocontain {
	position: relative;
	padding-bottom: 56.1%;
	height: 0;
	overflow: hidden;
    
}

.videocontain iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


